*{
	box-sizing: border-box;
}
body{
	background-image: url(../images/upfeathers.png);
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Georgia', Times, Times New Roman, serif;
}
h1{
	font-size: 2em;
}
h2{
	font-size: 1.8em;
}
h3{
	font-size: 1.2em;
}
p{
	line-height: 1.5em;
	margin-bottom: 2em;
}
img{
	max-width: 100%;
}

.-bg-highlight{
	background: #4aaaa5;
}
.-color-highlight,
.nav-primary ul li.active a{
	color: #4aaaa5;
}
.-border-highlight{
	border-color: #4aaaa5;
}
.-hover-highlight:hover{
	color: #4aaaa5;
}
.-bg-primary{
	background: #777;
}
.-color-primary{
	color: #777;
}
.-border-primary{
	border-color: #777;
}
.-bg-shade{
	background: #666;
}
.-color-shade{
	color: #666;
}
.-border-shade{
	border-color: #666;
}
.-bg-tint{
	background: #ddd;
}
.-color-tint{
	color: #ddd;
}
.-border-tint{
	border-color: #ddd;
}
.-bg-light{
	background: #fff;
}
.-color-light{
	color: #fff;
}
.-border-light{
	border-color: #fff;
}




img.alignleft{
	float: left;
	margin: 0 15px 15px 0;
}


.clearfix:before, .clearfix:after{
	display: table;
	content: '';
	clear: both;
}
.wrapper{
	width: 960px;
	margin: 0 auto;
}
.site{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.site-header{
	background: white;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.site-main{
	flex: 1;
	padding: 20px 0;
}
.site-footer{
	background: #333;
	border-top-width: 5px;
	border-top-style: solid;
	text-align: center;
	padding: 20px 0;
}


.site-branding{
	float: left;
	line-height: 60px;
}
.site-nav{
	float: right;
	line-height: 60px;
}



.site-content, .site-sidebar{
	background: white;
	padding: 20px;
}
.site-content{
	width: 650px;
	float: left;
}
.site-sidebar{
	width: 270px;
	float: right;
}


.site-title{
	padding: 0 20px;
}

.nav-primary{
	font-family: "Arial", sans-serif;
}
.nav-primary ul{
	
}
.nav-primary ul li{
	display: inline-block;
}
.nav-primary ul li.active{
	font-weight: bold;
}
.nav-primary ul li:not(:last-child){
	margin-right: 30px;
}
.nav-primary ul li a{
	text-decoration: none;
	display: block;
}



.page-title{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	padding: 0.5em 0;
	margin-bottom: 1em;
}
.sidebar-title{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding: 0.5em 0;
	margin-bottom: 1em;
}
.connect{
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	flex-direction: row;
}
.social-icon{	
	flex: 1 0 auto;
}
.social-icon:not(:last-child){
	margin-right: 10px;
}
.social-icon:before{
	content: '';
	float: left;
	padding: 50% 0;
}
.social-link{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: white;
	text-align: center;
	font-size: 40px;
}
.icon-github{
	background: #000;
}
.icon-linkedin{
	background: #007bb5;
}
.icon-stack-overflow{
	background: #fe7a15;
}



.portfolio{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
.portfolio-item{
	width: 290px;
	height: 290px;
	margin-bottom: 30px;
	position: relative;
}
.item-image{
	display: block;
}
.item-title{
	display: block;
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
	padding: 15px 0;
}


.form-contact{

}
.form-contact input,
.form-contact textarea{
	width: 100%;
	max-width: 100%;
	margin: 5px 0 20px;
	padding: 5px;
	font-size: 1em;
	border-style: solid;
	border-width: 1px;
}
.form-contact input[type="submit"]{
	border: none;
	width: auto;
	padding: 10px 20px;
}
